/* The sidebar menu */

.sidebar {
  position: sticky;
    height: 100%; /* 100% Full-height */
    width: 20%; /* 0 width - change this with JavaScript */
     /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: scroll;
    padding-top: 60px; /* Place content 60px from the top */
    transition: all 0.5s ease;/* 0.5 second transition effect to slide in the sidebar */
    
  }
  
  /* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */

  /* The button used to open the sidebar */
.openbtn {
  box-sizing: content-box;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    transition: all 0.5s ease;
  }
  
.openbtn:hover {
    background-color: #818181;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.navButton {
  position: sticky;
    top: 0;
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

.collapse {
    width: 0;
    pointer-events: none;
    border-right: 1px solid #000000;
  }

.navButton-open {
    margin-left: 15%;
}

